.element {
    max-width: 364px;
    height: 271px;
    background: #FDFDFD;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}
.element__info-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.element__text-conteiner {
    margin: 14px 14px;
    padding: 0;
}
.element__text {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.element__duration {
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
    margin: 9px 0 0 0;
    padding: 0;
    text-align: start;
}
.element__save-conteiner {}
.element__save-button {
    width: 30px;
    height: 30px;
    background-image: url(../../images/movies-save-active.svg);
    background-size: 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: none;
    border: none;
    background-color: #ffffff;
    margin: 19px 14px;
    padding: 0;
}
.element__save-button:hover {
    opacity: 0.6;
    cursor: pointer;
}
.element__image {
    width: 100%;
    height: 203px;
}
@media screen and (max-width: 1046px) {
    .element {
        max-width: 339px;
        height: 258px;
    }
    .element__image {
        height: 190px;
    }
}

@media screen and (max-width: 568px) {
    .element {
        max-width: 300px;
        height: 236px;
    }
    .element__image {
        height: 168px;
    }
}